<header>
<nav>
    <div class="nav-wrapper grey darken-4 orange-text text-accent-4">
      <a href="#" class="brand-logo">Sphere Advisory Services Pvt. Ltd.</a>
      <div class="navbar">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#home" id="homeLink">Home</a></li>
        <li><a href="#about-us" class=" dropdown-button" data-hover="true" data-beloworigin="true" data-activates="aboutDropdown">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      </div>
    </div>
  </nav>
</header>


<ul id="aboutDropdown" class="dropdown-content grey darken-3">
    <li><a href="#mission">Our Mission</a></li>
    <li><a href="#partners">Directors</a></li>
  </ul>
        