<header>
<nav>
    <div class="nav-wrapper grey darken-4 orange-text text-accent-4">
      <a href="#" class="brand-logo"><img src="img/logoSmall.png"/></a>
      <div class="navbar">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#home" id="homeLink">Home</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#partners">Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      </div>
    </div>
  </nav>
</header>

