<div id="about-us" class="page">
	<div class="content">
		<h3>About Us</h3>
		<div class="row">
			<div class="col s8 l4">
				<img src="<%= data.about_us[0].image %>"/>
			</div>
		</div>
		<h5><%= data.about_us[0].title %></h5>
		<p><%- data.about_us[0].content %></p>
	</div>

</div>