<div id="about-us" class="page">
<div class="content">
<h3>About Us</h3>
<img src="img/about-us/img1.png"/>
<h5>Comprehensive financial advice you and your company can trust.</h5>
<p>Sphere Advisory Services [SAS] was formed in December 2009 on the principle of providing quality advisory services with a focus on SME sector in India. SAS, although relatively is a small organisation, but its tradition and vast experience enables it to provide with variety of services to satisfy its clients’ needs.<br><br>
​
SAS is the brand under which we provide personalized, sophisticated, and independent investment management and financial planning services to small businesses. Our experienced Advisors are committed to understanding your needs and delivering insightful, informed advice to help you realize your dreams.<br><br>
​
Our clients trust us to help them meet their financial goals and to make their life savings grow. We take this responsibility seriously and highlight our commitment by adhering to the code of ethics. SAS is committed to ensure that our interests are aligned with those of our clients.


</div>

</div>