<div id="contact" class="page">
	<div class="content">
		<div class="row">
		<h3>Contact Us</h3>
			<div class="col s12 l6">
			<div class="row">
			<div class="col s1 l1">
				<i class="material-icons prefix">location_on</i>
			</div>
			<div class="col s11 l11">
			<h6>Address</h6>
			B/13 Anjani Complex, Parera Hill Road, </br>
			Off Andheri Kurla, Andheri (East), </br>
			Mumbai - 400099
			</div>
				
			
			</div>
			<div class="row">
			<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=B%2F13%20Anjani%20Complex%2C%20Parera&key=AIzaSyAZollYQt9XoG-52fnSteaUhAIJMq5dPKo" allowfullscreen></iframe>
			</div>
			
			</div>
		<form class="col s12 l6">
			<div class="input-field col s12 l12">
			 <i class="material-icons prefix">account_circle</i>
				<input id="name" type="text" class="validate">
				<label for="name">Name</label>
			</div>
			<div class="input-field col s12 l12">
				<i class="material-icons prefix">email</i>
				<input id="email" type="text" class="validate">
				<label for="email">Email</label>
			</div>
			<div class="input-field col s12 l12">
				<i class="material-icons prefix">phone</i>
				<input id="phone" type="text" class="validate">
				<label for="phone">Phone</label>
			</div>
			<div class="input-field col s12 l12">
          <textarea id="message" class="materialize-textarea"></textarea>
          <label for="message">Message</label>
        </div>
        <a class="waves-effect orange darken-2 waves-orange darken-2 btn" id="contactSubmit">Submit</a>
		</form>
	</div>
</div>