<div class="page" id="home" class="page">
	<div class="content">
		<div class="row">
		<div class="col l3">
		<img src="img/home/img1.png"/>
			<h5>Expertise Through Experience</h5>
				In many financial decisions, identifying and evaluating risk is difficult, what is the best way to succeed in today’s complex business environment... 
		</div>
		<div class="col l3">
		<img src="img/home/img1.png"/>
			<h5>Key Differentiator</h5>
				Sphere Advisory is a platform of professional entrepreneurship, putting our intellectual capital and financial expertise to work for clients.
		</div>
		<div class="col l3">
		<img src="img/home/img1.png"/>
			<h5>Our Vision</h5>
				Our vision is to continue to grow and protect our clients’ assets and to help them achieve their business goals.
		</div>
		<div class="col l3">
		<img src="img/home/img1.png"/>
			<h5>Our Mission</h5>
				Our mission is to exceed client service expectations, anticipate future needs and provide unbiased, clear solutions on a continual basis.
		</div>
			 
	</div>
	</div>
</div>

