<div class="page" id="home" class="page">
<div class="content">
<div class="row" id="box1">
	<h4>Expertise Through Experience</h4>
	In many financial decisions, identifying and evaluating risk is difficult, what is the best way to succeed in today’s complex business environment...  
</div>
<div class="row">
	<div class="col l6 homeBox">
		<h4>Our Vision</h4>
		Our vision is to continue to grow and protect our clients’ assets and to help them achieve their business goals.
	</div>
	<div class="col l6 homeBox">
		<h4>Key Differentiator</h4>
		Sphere Advisory is a platform of professional entrepreneurship, putting our intellectual capital and financial expertise to work for clients.
	</div>
	</div>
</div>
</div>

