<div class="page" id="home" class="page">
<div class="content row">
	<div class="col l6 homeBox">
		<div id="homeTitle">Our Vision</div>
		Our vision is to continue to grow and protect our clients’ assets and to help them achieve their business goals.
	</div>
	<div class="col l6 homeBox">
		<div id="homeTitle">Key Differentiator</div>
		Sphere Advisory is a platform of professional entrepreneurship, putting our intellectual capital and financial expertise to work for clients.
	</div>
	</div>
</div>

