<!DOCTYPE html>
<head>
	<title>Sphere Advisory Services</title>
	<% include partials/dependencies %>
 
          
</head>
<body>
<% include partials/header %>
<main>
	<% include landing %>
	<% include home %>
	<% include about %>
	<% include mission %>
	<% include partners %>
	<% include services %>
</main>

<% include partials/footer %>
	
</body>