<div id="landing" class="page">
	<img id="landingBackground" src="img/pic2.jpg"/>
	<div id="landingTitle"><img src="img/logoBig.png"/></div>
	<div id="landingOptions" class="row center divCenter">
		<div class="col l1"></div>
		<div class="col s2 l2"><a href="#home">Home</a></div>
		<div class="col s3 l2"><a href="#about-us">About Us</a></div>
		<div class="col s2 l2"><a href="#services">Services</a></div>
		<div class="col s2 l2"><a href="#partners">Team</a></div>
		<div class="col s2 l2"><a href="#contact">Contact</a></div>
		<div class="col l1"></div>

	</div>
</div>



