<div id="landing" class="page">
	<img src="/img/pic2.jpeg">
	<div id="overImageText" class="center">
		EXPERTISE THROUGH EXPERIENCE <br>
In many financial decisions, identifying and evaluating risk is difficult, what is the best way to succeed in today’s complex business environment...  
	</div>
  </div>