<div id="landing" class="page">
<img id="landingBackground" src="img/pic2.jpg"/>
	<div id="landingTitle"><img src="img/logoBig.png"/></div>
	<div id="landingOptions" class="row center divCenter">
	      <div class="col l3"><a href="#home">Home</a></div>
	      <div class="col l3"><a href="#about-us" class="dropdown-button" data-hover="true" data-beloworigin="true" data-activates='landingDropdown'>About Us</a></div>
	      <div class="col l3"><a href="#services">Services</a></div>
	      <div class="col l3"><a href="#contact">Contact</a></div>

	</div>
	<!--<div id="overImageText" class="center divCenter">
		EXPERTISE THROUGH EXPERIENCE <br>
In many financial decisions, identifying and evaluating risk is difficult, what is the best way to succeed in today’s complex business environment...  
	</div>-->
  </div>

  <!--<div id="landingDropdown" class='dropdown-content'>
        <ul>
        	<li><a href="#mission">Our Mission</a></li>
        	<li><a href="#partners">Directors</a></li>
        <ul>
        </div>-->


