<div id="landing" class="page">
	<img src="/img/pic2.jpg">
	<div id="landingTitle" class="center divCenter">Sphere Advisory Services</div>
	<div id="landingOptions" class=" center divCenter">
	      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about-us" class="dropdown-button" data-hover="true" data-beloworigin="true" data-activates='landingDropdown'>About Us</a>
        
        </li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

	</div>
	<div id="overImageText" class="center divCenter">
		EXPERTISE THROUGH EXPERIENCE <br>
In many financial decisions, identifying and evaluating risk is difficult, what is the best way to succeed in today’s complex business environment...  
	</div>
  </div>

  <div id="landingDropdown" class='dropdown-content'>
        <ul>
        	<li><a href="#mission">Our Mission</a></li>
        	<li><a href="#partners">Partners</a></li>
        <ul>
        </div>


