<div id="partners" class="page">
<div class="content">
<h3>Directors</h3>
<h4>Krishna S Chamadia</h4>
<div class="row">
<div class="col l3"><img src="img/team/img1.jpg"></div>
<div class="col l9">
Krishna is a Director of Sphere Advisory Services Private Limited. Krishna was part of assurance services of Ernst & Young and was based in the Mumbai office. Krishna had been seconded to the New York office of Ernst& Young for a period of 18 months. Over 14 years of professional experience in conducting audits and assurance engagements for large clients both in public and private sectors as well as business valuations and financial due diligences. His industrial expertise includes banking and financial services. Krishna has served a variety of banks in India and in United States which include foreign, private and public sector banks. Krishna is an Associate Member of the Institute of Chartered Accountant of India
</div>
</div>

​
<h4>Suresh Pai</h4>
<div class="row">
<div class="col l3"><img src="img/team/img1.jpg"></div><div class="col l9">
Suresh is an Ex Banker with 13 years in the Banking & Commodity Exchange sector and has cross functional expertise in different business in Banking and Non Banking Financial service space. He has diversified experience in Operations, Project & Product Management, Compliance and Legal, Internal Audit, Loan Recovery, Internal Controls & Risk management. He has spearheaded the launch of two large businesses for Kotak Mahindra Bank – Credit Cards and Setting up of a Commodity Exchange. He is a qualified ACA.</div>

</div>
</div>
</div>