<div id="services" class="page">
	<div class="content">
		<h3>Services</h3>
		<div class="row">
		<div class="col s6 l4 right"><img src="<%= data.services[0].image %>"></div>
			<div class="col s12 l8">
				<p><%= data.services[0].title %></p>
				<p><%- data.services[0].content %></p>
			</div>
			
		</div>
	</div>
</div>