<div id="services" class="page">
	<div class="content">
		<h3>Services</h3>
		<p>Our team increases your business performance using expertise that includes:</p>
		<ul id="servicesList">
			<li>Re-engineering of business processes</li>
			<li>Strategy and Transformation</li>
			<li>Supply Chain Management Consulting</li>
			<li>Finance Transformation</li>
			<li>People and Performance</li>
			<li>Marketing, Sales and Service</li>
			<li>Data & Analytics Consulting</li>
			<li>Projects related services</li>
			<li>Business valuation & audits</li>
		</ul>
	</div>
</div>