<div id="services" class="page">
	<div class="content">
		<h3>Services</h3>
		<div class="row">
			<div class="col l8">
				<p><%= data.services[0].title %></p>
				<p><%- data.services[0].content %></p>
			</div>
			<div class="col l4"><img src="<%= data.services[0].image %>"></div>
		</div>
	</div>
</div>